@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --button-text: #fff;
    }

    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }

    .card {
        max-width: 21em;
        margin: 1rem;
        /* without scaling */
        padding: 1em;
        border: var(--border) 2px solid;
        border-radius: 1em;
    }

}

@layer components {

    /* todo components */
    .card__nadpis {
        color: var(--secondary);
        font-size: 35px;
        padding-left: 10px;
        margin-bottom: 3;
    }

    .card__text {
        padding-left: 10px;
    }

    .card__zelenejText {
        color: var(--primary)
    }

    .card__textPodCenou {
        padding-left: 10px;
    }

    .card__zajimavyText {
        color: var(--primary);
        text-decoration-color: var(--primary);
        text-decoration: underline;
    }

    .card__li {
        padding: 0.4em;
        list-style-image: url(../images/check.svg);
    }

    .card__li-x {
        padding: 0.4em;
        list-style-image: url(../images/cross.svg);
    }

    .card__li_zeleny {
        padding: 0.4em;
        color: var(--primary);
        list-style-image: url(../images/check.svg);
    }

    .card__tlacitko {
        padding: 1em;
        border-radius: 1em;
        background-color: var(--primary);
        text-decoration: none;
        margin: 1em;
        color: var(--button-text);
        display: inline-block; 
        
    }
    .card__textSCenou {
        padding: 10px;
    }
.card__200{
    color:var(--primary);
    font-size: 35px;
}

}